html{
    background-color: rgb(49, 10, 10);
}

h1{
    color:blanchedalmond;
    font-family: 'Lavishly Yours', cursive;
    text-align: center;
    font-weight: 1;
    font-size: 70px;
    letter-spacing: 4px;
    
    border: 1px solid blanchedalmond;
    border-width: 1px 0px 1px 0px;
    
}

.header1{
    color: rgb(211, 190, 158);
    font-family: 'UnifrakturMaguntia', Courier, monospace;
    text-align: center;
    font-weight: 300px;
    font-size: 35px;
    letter-spacing: 15px;
    
}   

.summary{
    color: rgb(196, 156, 95);
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    letter-spacing: 5px;
   
}

*{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    text-align:left;
    font-weight: 300px;
    font-size: 22px;
}

li{
    color: rgb(215, 150, 53);
    font-size: 20px;
};
 
.footer{
    align-items: center;
    font-size: 18px;
}
p{
    color: rgb(215, 150, 53);
    text-align: left;
    font-size: 16px;
}
a[href]{
    color: rgba(255, 69, 18, 0.783);
    text-decoration: underline;
    margin: 0 10px;
}

